<div class="row">
  <div class="col">
    <p style="text-align: left">
      Buyer Name: <%= order.user.username %><br>
      Restaurant Name: <%= order.restaurant.restaurant_name %>
    </p>
    <% unless order.restaurant.id == params[:restaurant_id] %>
      <p> Ordered Items </p>
      <% order.order_items.each do |order_item| %>
        <div>
          <%= order_item.food.food_name %> | <%= order_item.food.price %> | 
          <%= order_item.quantity %>
        </div>
      <% end %>
      <%= order.total_amount %>
    <% end %>
    <hr />
  </div>
</div>