<h1>ALL Orders</h1>
<div class="row">
  <div class="col-md-5">
    
    <%= form_tag all_orders_path, method: :get do%>
      <div class="col-md-3">
        <%= select_month(Date.today, {prompt: "month", use_short_month: true}, {field_name: 'month', id: 'start-month', class:"form-select"}) %>
      </div>
      <div>
        <%= submit_tag("Filter by month", class: "btn btn-primary mb-3", name:"submit") %>
      </div>
    <%end%>

    <% @orders.each do |order| %>
      <% if order.order_status == "pending" %>
        <div class="card text-bg-secondary mb-3">
          <a href=<%= order_path(order)%> class="card-header"
          style="text-decoration:none">
            Restaurant: <%= order.restaurant.restaurant_name %>
            <p style="float:right">Rs <%= order.total_amount %></p><br />
            Username: <%= order.user.username %>
          </a>
          <div class="card-footer">
            <%= order.created_at.strftime("%b %d %Y - %I:%M%p") %>
            
            <%= form_for(order, url: order_status_orders_path) do |f| %>
              <%= f.hidden_field :id, value: order.id %>
              <%= f.select :status, [:pending, :accepted, :rejected],
              selected: order.order_status || :pending %>
              <%= f.submit %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>