<div class="row">
  <div class="col">
    <% unless cart.cart_items.empty? %>
      <p>
        <table align="center">
          <tr>
            <th>Cart Items</th>
            <th>Item Price</th>
            <th>Item Quantity</th>
          </tr>
          <% cart.cart_items.each do |item| %>
            <tr>
              <td><%= item.food.food_name %></td>
              <td align="center"><%= item.food.price%></td>
              <td align="center">
                <%= form_for :item do |f| %>
                  <%= f.number_field :quantity, in: 1..10, value: 1 %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </table>
        <hr />
        <%= link_to "Order Food", "#", class: "btn btn-primary" %>
      </p>
    <% else %>
      <h2>Your Cart is empty!</h2>
    <% end %>
  </div>
</div>
