<%= link_to "Back", :back, class: "btn btn-outline-dark"%>
<div class="row">
  <div class="col-md-4 mx-auto">
    <%= form_with model: outlet do |f|%>
      <%= render"shared/error_messages", object: f.object %>

      <div>
        <%= f.label :restaurant_name %><br>
        <%= f.text_field :restaurant_name, class: "form-control mb-3" %>
      </div>
      
      <div>
        <%= f.label :restaurant_email %><br>
        <%= f.email_field :restaurant_email, class: "form-control mb-3" %>
      </div>
      
      <div>
        <%= f.label :restaurant_contact %><br>
        <%= f.telephone_field :restaurant_contact, class: "form-control mb-3" %>
      </div>
      
      <div>
        <%= f.label :restaurant_details %><br>
        <%= f.text_area :restaurant_details, class: "form-control mb-3" %>
      </div>
      
      <div>
        <%= f.label :restaurant_address %><br>
        <%= f.text_area :restaurant_address, class: "form-control mb-3 " %>
      </div>

      <div>
        <%= f.label :restaurant_image %><br>
        <%= f.file_field :restaurant_image, class: "form-control mb-3 " %>
      </div>

      <div>
        <%= f.label :status, class: "mb-3" %><br>
        <%= f.select :status, ['Open', 'Closed'], selected: 'Open' %>
      </div>

      <div class="col-md-3">
        <%= f.label :category_ids, 'Categories', class:"my-3" %><br>
        <%= f.collection_check_boxes(:category_ids, Category.all, :id, :category_name)%>
      </div>

        <%= f.label :food_ids, 'Foods', class: 'my-3'%><br>
      <div class="row">
          <%= f.collection_check_boxes(:food_ids, Food.all, :id, :food_name) do |cb| %>
            <%= cb.label(class:"check_box") do %>
              <%= cb.check_box(class:"check_box")%>
              <%= cb.object.food_name%><br />
            <% end %>
          <% end %>
      </div>

      <%= f.submit "save", class: "btn btn-primary mt-3" %>
    <% end %>
  </div>
</div>