<h1>Order Food</h1>
<%= link_to "Back", restaurant_path(params[:restaurant_id]), class: "btn btn-outline-dark"%>
<div class="row">
  <div class="col-md-4 order-food">
    <h2>Categories</h2>
    <% @food_by_category.each do |category, foods| %>
      <div class="accordion">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <h3> <%= category.category_name%> </h3>
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p>
                <% foods.each do |food| %>
                  <li style="padding-left:20px; list-style-type: none">
                    <%= food.food_name %> | <%= food.price %> <br />
                    <% if cart_item_exist?(food) %>
                      <%= button_to "Remove From Cart",  remove_from_cart_carts_path,  params: {food: food},
                      class: "btn btn-danger", method: :delete %>
                    <% else %>
                      <%= button_to "Add To Cart", add_cart_carts_path, params: {food: food}, class: "btn btn-primary" %>
                    <% end %>
                    <hr />
                  </li>
                <% end %>
              </p>  
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-4 order-food">
    <h2> Cart </h2>
    <%= render current_user.cart %>
  </div>
  <div class="col">
    <h2> Order </h2>
    <%= render current_user.orders %>
  </div>
</div>