<div class="row">
  <h1><%= @outlet.restaurant_name %></h1>
  <div class="col">
    <p>
    <%= @outlet.restaurant_details %><br />
    <%= @outlet.restaurant_address %><br />
    <%= @outlet.status %><br />
    </p>
    <hr />
    <ul class="nav">
      <li class="nav-item me-3">
        <%= link_to "Order Food", restaurant_order_path(@outlet), class: "btn btn-primary mb-3"%>
      </li>
      <% if admin? %>
        <li class="nav-item me-3">
          <%= link_to "Edit Details", edit_restaurant_path, class:"btn btn-primary mb-3"%>
        </li>
        <li class="nav-item me-3">
          <%= button_to "Delete Restaurant", restaurant_path(@outlet), 
          class:"btn btn-primary mb-3", data: {turbo_method: :delete, 
                                        turbo_confirm: "are you sure?"} %>
        </li>
      <% end %>
    </ul>
    <hr />
  </div>
</div>
<div class="row">
  <div class="col-md-6 order-food">
    <h2>Reviews</h2>
    <%= render @outlet.reviews %>
    <%= render 'reviews/review_form' %>
  </div>
  <div class="col-md-6">
    <h2>Menu</h2>
    <%= render 'menu', menu: @food_by_category %>
  </div>
</div>