<h1><%= @outlet.restaurant_name %></h1>
<p>
  <ul>
    <%= @outlet.restaurant_details %>
  </ul>
  <ul>
    <%= @outlet.restaurant_contact %>
  </ul>
  <ul>
    <%= @outlet.restaurant_address %>
  </ul>
  <ul>
    <%= @outlet.restaurant_email %>
  </ul>
</p>
<%= render @outlet.reviews %>
<%= render 'reviews/review_form' %>