<div class="row">
  <div class="col-md-6">
    <%= form_with model: [@outlet, @outlet.reviews.build] do |f|%>
      <%= render"shared/error_messages", object: f.object %>

      <%= f.label :content %>
      <%= f.text_area :content, class: "form-control mb-3" %>

      <%= f.submit "Add review", class: "btn btn-primary"%>
    <% end %>
  </div>
</div>